---
const { cards } = Astro.props
---

<article>
  {
    cards.map( card => (
      <section>
        <h3>{card.name}</h3>
        <p class="parrafo">{card.description}</p>
      </section>
    ))
  }
</article>

<style>
  article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 0.5rem;
    padding: 1rem;
  }
  section {
    border: 1px solid #212121;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0;
  }

  @media (width <= 360px) {
    article {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
</style>