---
import Section from '../components/Section.astro';
import Header from '../components/Header.astro';
import CW from '../copywritte/cw.json';
---
<Section>
  <header>
    <h2>Mi historia con el CBD: <strong>de la crisis al bienestar</strong></h2>
  </header>
  <p>
    <strong>Soy ingeniero en computación y</strong>, como muchos en mi profesión, vivo sumergido en el estrés del desarrollo de software. <strong>La mala gestión del tiempo en las empresas afecta no solo la productividad, sino también la vida personal</strong>.
  </p>
  <p>
    <strong>Tras la pandemia, el miedo y la ansiedad se hicieron presentes en mi día a día</strong>. Perdí a seres queridos, y el impacto emocional fue abrumador. Sin darme cuenta, el estrés se volvió crónico: dolores de cabeza, tensión en la espalda, insomnio, aumento de peso… hasta que un día colapsé en una crisis emocional.
  </p>
  <p>
    <strong>El miedo invadió mi mente y mi cuerpo. Sabía que debía sanar</strong>, pero los medicamentos tradicionales no eran una opción para mí. Sus efectos secundarios, como pensamientos negativos, solo añadían más carga a mi salud mental.
  </p>
  <p>
    Fue entonces cuando <strong>descubrí el CBD</strong>. No como una simple alternativa, sino <strong>como un camino natural para recuperar mi equilibrio</strong>. Pero comprendí que <strong>el verdadero cambio</strong> no solo está en un producto, sino <strong>en transformar nuestros hábitos</strong>.
  </p>
  <p>
    El cambio de malos hábitos a buenos hábitos es la clave de una vida saludable. <strong>Agregar hábitos saludables, junto con el consumo de alimentos nutracéuticos a base de CBD, es el comienzo de un bienestar real</strong>. Comer sano, dormir bien, hacer ejercicio, leer y mantener relaciones personales sanas son esenciales para una vida plena.
  </p>
  <p>
    Hoy duermo mejor, mi ansiedad ha disminuido y me siento más presente en mi día a día. <strong>Si estás buscando una manera natural de</strong> reducir el estrés y <strong>mejorar tu bienestar, te invito a descubrir el poder del CBD</strong>.
  </p>
</Section>

<style>
  h2{
    strong {
    color: #3DBE52;
  }
  }
</style>