---
import Section from '../components/Section.astro';
import Questions from '../content/qa/questions.json'
---
<Section>
  <header>
    <h2>Preguntas frecuentes</h2>
  </header>
  <div class="questions">
    {
      Questions.cbd.map(question => (
      <details name="question" >
            <summary>{question.pregunta}</summary>
            <p>{question.persuasion}</p>
      </details>
      ))
    }
  </div>
</Section>

<style>
  .questions{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  details{
    border: 1px solid #212121;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  details:hover{
    background-color: #212121;
    color: #3DBE52;
  }

  details[open]{
      padding: 0.5em;
      background-color: #64eb7a4f;
  }
  summary{
      font-weight: 600;
      
      padding: 0.5em;
      cursor: pointer;
  }
  details[open] summary{
      margin-bottom: 0.5em;
  }
</style>